@import url('https://fonts.googleapis.com/css?family=Bangers|Rock+Salt');

:root {
    --white: rgba(255, 255, 255, 255);
    --black: rgba(0, 0, 0, 255);
}

.layout {
    background-color: var(--black);
    color: var(--white);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    height: 175px;
    padding: 25px;

    margin-top: 20px;
}

.clock {
    font-size: 3.5em;
    font-family: 'Rock Salt', cursive;
}

.justRespringed, .respringMin {
    font-size: 1.5em;
    font-family: 'Bangers', sans-serif;
}
