@import url('https://fonts.googleapis.com/css?family=Bangers|Rock+Salt');

:root {
    --white: rgba(255, 255, 255, 255);
    --black: rgba(0, 0, 0, 255);
    --transparent: rgba(0, 0, 0, 0);
}

.layout {
    background-color: var(--transparent);
    color: var(--white);
    
    text-align: center;
    text-shadow: 2px 2px 2px var(--black);

    height: 175px;
    padding: 25px;

    margin-top: 20px;
}

.clock {
    font-size: 3.5em;
    font-family: 'Rock Salt', cursive;
}

.tagline, .respringMin {
    font-size: 1.5em;
    font-family: 'Bangers', sans-serif;
}
